<title>
    <%= title %>
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel='stylesheet' href='/stylesheets/style.css'>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

<%- include('header'); -%>
    <section class="featured">
        <div class="content-wrapper">
            <h1 id="myHeader">
                <%= title %>
            </h1>
        </div>
    </section>
    <hr>
    </p>
    <form action="/finaldisp/" method="POST">
        <table style="margin-left:auto;margin-right:auto;">
            <input type="hidden" value="<%= transcripts[0]._id %>" name="id">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].passdata.name %>
                    </td>
                    <td>Contact number</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].contactno %>
                    </td>
                </tr>
                <tr>
                    <td>Registration no.</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].passdata.regno %>
                    </td>
                    <td>Session</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].passdata.sess %>
                    </td>
                </tr>
                <tr>
                    <td>Department code</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].passdata.deptcode %>
                    </td>
                    <td>Class</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].passdata.class %> &nbsp; <%= transcripts[0].passdata.class_div %>
                    </td>
                </tr>
                <tr>
                    <td>Percentage</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].passdata.percentage %> %
                    </td>
                    <td>CGPA</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].passdata.cgpa %>
                    </td>
                </tr>
                <tr>
                    <td>Grade</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].passdata.grade %>
                    </td>
                    <td>Year of Passing</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].passdata.yearofpassing %>
                    </td>
                </tr>
                <tr>
                    <td>Email ID</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].email_id %>
                    </td>
                    <td>Purpose</td>
                    <td>:</td>
                    <td>
                        <%= transcripts[0].aftersxc %>
                    </td>
                </tr>
                <tr>
                    <td>Entry Date</td>
                    <td>:</td>
                    <td>
                        <%= moment(transcripts[0].entrydt).format( 'DD-MMMM-YYYY' ) %>
                    </td>
                    <td>Verification Date</td>
                    <td>:</td>
                    <td>
                        <%= moment(transcripts[0].verificationdate).format( 'DD-MMMM-YYYY' ) %>
                    </td>
                </tr>
                <tr>
                    <th colspan="6">Information section </th>
                </tr>
                <tr>
                    <td>
                        <div class="form-floating">
                            <select id="txtdispmode" name="txtdispmode" class="form-select" required
                                style="font-weight: bold; color:crimson">
                                <option value="0"> Please select</option>
                                <option value='Courier'> Courier </option>
                                <option value='E-mail'> E-mail </option>
                                <option value='Hand delivery'> Hand delivery </option>
                                <option value='Speed Post'> Speed Post </option>
                                <option value='Other'> Other </option>
                            </select>
                            <label for="txtdispmode">Dispatch mode</label>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div class="form-floating">
                            <input id="txtdspid" type="text" name="txtdspid" class=" form-control"
                                style="font-weight: bold; color:indigo" />
                            <label for="txtdspid">Dispatch ID</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-floating">
                            <input id="txtremark" type="text" name="txtremark" class=" form-control"
                                style="font-weight: bold; color:indigo" />
                            <label for="txtremark">Remarks (if any)</label>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div class="form-floating">
                            <input type="password" id="txtpwd" name="txtpwd" class="form-control">
                            <label for="txtpwd">Enter passcode to dispatch</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Dispatch
                        </button>
                    </td>
                    <td colspan="5"
                        style="font-weight: bold; color:red; text-decoration: underline; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                        <%= updtmsg %>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <%- include('footer'); -%>