<footer>
  <p>Developed by: A. K. Singh</p>
  <table class="table table-hover"
    style="border:1px solid black;margin-left:auto;margin-right:auto;text-align: center;color: blue;">
    <tr>
      <td>CPU:<%= varcpu %>
      </td>
      <td>Free Memory (MB) : <%=varfreemem%>
      </td>
      <td>OS Platform:<%=varosplat%>
      </td>
      <td>OS Release:<%=varosrel%>
      </td>
      <td>Total memory (MB):<%=varmem%>
      </td>

    </tr>
  </table>

</footer>